.card {
  perspective: 150rem;
  position: relative;
  height: 50rem;

  &__side {
    transition: all .8s ease;
    font-size: 2rem;

    height: 50rem;
    color: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);
      background-color: $color-primary-light;
    }
  }

  &:hover &__side--front {
    transform: rotateY(180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }
}